services:
  # FastAPI Application
  fastapi:
    build: .
    container_name: fastapi_app
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
